<div class="container-fluid">
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name {{fa-icon "sort" }} {{fa-icon "filter" click=(action "myClickHandler")}}</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {{#each data as |row|}}
                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.position}}</td>
                    <td>{{row.office}}</td>
                    <td>{{row.age}}</td>
                    <td>{{row.startDate}}</td>
                    <td>{{row.salary}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
{{yield}}
