<div class="container-fluid">
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                {{#each columns as |column|}}
                <th>{{column.displayName}} {{#if column.isSortable}} {{fa-icon "sort" }} {{/if}} {{#if column.isFilterable}}{{fa-icon "filter" click=(action "myClickHandler")}} {{/if}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data as |row|}}
                <tr>
                    {{#each columns as |column|}}
                    {{debugger}}
                    <td>{{get row column.columnName}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
{{yield}}
